@page "/"
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<h1>Hello!</h1>
<div class="title-underline"></div>

Welcome to WhoOwesWho app

<AuthorizeView>
    <Authorized>
        <p>You are logged in as: <strong>@context.User.Identity?.Name</strong></p>
    </Authorized>
</AuthorizeView>
