@inherits LayoutComponentBase

<main class="container-fluid min-vh-100 d-flex align-items-center justify-content-center py-4">
    <div class="wow-auth-container w-100">
        @Body
    </div>
</main>
