#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.wow-navbar {
    background-color: #5b2fbf;
}

.wow-navbar .navbar-brand,
.wow-navbar .nav-link {
    color: #fff;
}

.wow-navbar .nav-link.active,
.wow-navbar .nav-link:hover,
.wow-navbar .nav-link:focus {
    color: rgba(255, 255, 255, 0.9);
}

.wow-navbar .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.35);
}

.wow-navbar .navbar-toggler-icon {
    filter: invert(1);
}
